@media only screen and (max-width: 600px) {
    .logo {
        width: 100%;
    }
    .dropdown {
        font-size: 40px;
        margin-left: 20px;
        position: relative;
        display: inline-block;
    }
    .organizar-categorias {
        display: flex;
        flex-direction: column;
    }
    .categorias-produtos-docinhos {
        width: 60px;
        height: 3.3vh;
        border-radius: 0;
        font-size: 6px;
    }
    .categorias-produtos-bolos {
        width: 60px;
        height: 3.3vh;
        border-radius: 0;
        font-size: 6px;
    }
    .categorias-produtos-salgadinhos {
        width: 60px;
        height: 3.3vh;
        font-size: 6px;
    }
    .icone-ajuda {
        font-size: 80%;
        color: var(--colorPrin);
    }
    .icone-whats {
        margin-right: 15px;
        font-size: 200%;
        transition: 1s;
        color: var(--colorPrin);
    }
    .carrosel-imagens {
        height: 30vh;
    }
    .dropdown-content-ajuda {
        margin-left: -50vw;
    }
    .infos-adicionais p {
        font-size: 10px;
    }
    .info-envio, .info-pagamento, .info-segurança {
        width: 20vw;
        height: 20vh;
    }
    .dropdown-content-rede-sociais {
        margin-top: -28.5vh;
        margin-left: -33.3vw;
    }
    .dropdown-content-rede-sociais a {
        font-size: 15px;
    }
    .rede-sociais-footer .social-links {
        flex-direction: column;
        gap: 5px;
    }
    .redes-sociais-icons {
        font-size: 200%;
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .carrosel-imagens {
        height: 50vh;
    }
  }
  
  @media only screen and (min-width: 1025px) and (max-width: 1440px) {

  }
  @media only screen and (min-width: 1441px) {
  }