:root {
    --colorPrin: rgb(81, 61, 51);
    --colorHover: rgb(56, 33, 22);
}
body {
    margin: 0;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: white;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 12px;      
  }
  
  body::-webkit-scrollbar-track {
    background: var(--colorPrin);    
    box-shadow: 0 0 12px var(--colorPrin);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--colorPrin);      
    border: 3px solid var(--colorPrin);  
    border-radius: 0;
    box-shadow: 0 0 12px var(--colorPrin);
  }
header {
    width: 100vw;
    height: auto;
    min-height: 10vh;
    background-color: white;
}
.detalhe-main-horizontal {
    width: 100vw;
    height: 3vh;
    background-color: var(--colorPrin);
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.detalhe-main-horizontal span {
    cursor: default;
    display: inline-block;
    padding-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    animation: marquee 5s linear infinite;
}
@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
.main-horizontal {
    width: 100vw;
    height: auto;
    min-height: 10vh;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid var(--colorPrin);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-main-horizontal {
    width: 33.3333333333vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dropdown {
    font-size: 40px;
    margin-left: 40px;
    position: relative;
    display: inline-block;
}

.dropdown-content, .dropdown-content-ajuda {
    display: none;
}

.dropdown-content.show, .dropdown-content-ajuda.show {
    display: block;
} 

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 250px;
    box-shadow:  0 0 15px rgba(0, 0, 0, 0.747);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(81, 61, 51);
    padding: 12px 16px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(81, 61, 51);
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: rgb(81, 61, 51);
    margin: 4px 0;
    transition: 0.4s;
}
.logo-empresa{
    width: 33.3333333333vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logo {
    border-image: 2px solid black;
    width: 50%;
}
.whatsapp {
    width: 33.3333333333vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.icone-ajuda {
    margin-top: 15px;
    cursor: pointer;
    margin-right: 15px;
    font-size: 130%;
    color: var(--colorPrin);
}
.dropdown-ajuda {
    font-size: 40px;
    margin-left: 15px;
    position: relative;
    display: inline-block;
}

.dropdown-content-ajuda {
    display: none;
    position: absolute;
    background-color: white;
    margin-left: -30vw;
    min-width: 250px;
    box-shadow:  0 0 15px rgba(0, 0, 0, 0.747);
    z-index: 1;
}

.dropdown-content-ajuda a {
    color: rgb(81, 61, 51);
    padding: 12px 16px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
}

.dropdown-content-ajuda a:hover {
    background-color: rgb(81, 61, 51);
    color: white;
}

.dropdown-ajuda:hover .dropdown-content-ajuda {
    display: block;
}
.icone-whats {
    cursor: pointer;
    margin-right: 40px;
    font-size: 300%;
    transition: 1s;
    color: var(--colorPrin);
}
.icone-whats:hover {
    transition: 1s;
    transform: scale(1.1);
    color: var(--colorHover);
}
main {
    width: 100vw;
    height: auto;
    min-height: 60vh;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}
footer {
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--colorPrin);
}
.ajuda-footer, .copyright-footer, .rede-sociais-footer {
    width: 33.3333333333vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 1px solid white;
}
.rede-sociais-footer {
    border-right: 0px;
}
.ajuda-footer, .copyright-footer, .rede-sociais-footer p {
    cursor: default;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
