.titulo-pesquisa {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-pesquisa p {
    cursor: default;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--colorPrin);
}
#result-container {
    margin-bottom: 90px;
    width: 100vw;
    height: auto;
    min-height: 60vh;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
}
.card-produtos {
    width: 320px;
    height: 370px;
    margin: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.img-produto {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.info-produto {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info-produto h1 {
    cursor: default;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info-produto p {
    cursor: default;
    font-size: 15px;
    color: var(--colorPrin);
    font-family: Arial, Helvetica, sans-serif;
}

.ver-mais-produtos {
    cursor: pointer;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: var(--colorPrin);
    color: white;
    box-shadow: 0 0 10px var(--colorPrin);
    transition: 1s;
}

.ver-mais-produtos:hover {
    transform: scale(1.1);
    background-color: var(--colorHover);
}